node_modules
npm-debug.log
.env
.env.*
!.env.example
.git
.gitignore
backups
logs
data/erp.sqlite
src/db/database.sqlite.bak.js
*.md
.DS_Store
src/uploads/products/*
src/uploads/payment_proofs/*
src/uploads/temp/*
!src/uploads/products/.gitkeep
!src/uploads/payment_proofs/.gitkeep
!src/uploads/temp/.gitkeep
